body {
    background: url(https://source.unsplash.com/random/1920x1080) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  nav {
      background-color: rgba(0,0,0,0.3);
      color: #ffffff;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);   
  }

  footer {
    background-color: rgba(0,0,0,0.3);
    color: #ffffff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);   
  }
